/* src/PageNotFound.module.css */
.pageNotFoundContainer {
    position: relative;
    background-color: #f8f9fa;
    background-image: url('../../public/Images/Banner.jpg');
    height: 80vh;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .content {
    position: relative;
    z-index: 1;
    max-width: 600px;
    width: 100%;
    background: #ffffff;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    font-size: 6em;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .homeLink {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .homeLink:hover {
    background-color: #0056b3;
  }
  